<div id="cookie-popup" class="cookie-popup">
    <div class="popup-wrapper">


        <p class="cookie-class">We use cookies to enhance your puzzle-solving experience and analyze game performance. Just like our puzzles, our
        approach is transparent and logical.</p>
        <div class="cookie-buttons">
            <button id="accept-cookies" class="btn-accept">Accept All</button>
            <button id="decline-cookies" class="btn-decline">Reject All</button>
        </div>
    </div>
</div>