.footer-container{
  padding: 48px 10px 33px;
  display: flex;
flex-direction: column;
gap: 30px;
}
.footer-wrap-one{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.45455;
    letter-spacing: 0.09em;
    text-align: center;
    color: #7d8eaa;
}
.footer-wrap-two{
  border-top: 1px solid rgba(255, 255, 255, 0.04);
    padding: 24px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}
.footer-text{
  font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.45455;
    letter-spacing: 0.07em;
    text-align: center;
    color: #7d8eaa;
}
.footer-navigation{
  display: flex;
  gap: 20px;
  font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.45455;
    letter-spacing: 0.07em;
    text-align: center;
    color: #7d8eaa;
}
@media only screen and (min-width: 1440px) {
 .footer-container{
  padding: 56px  96px;
 }
 .footer-wrap-one{
  flex-direction: row;
  justify-content: space-between;
 }
 .footer-wrap-two{
    flex-direction: row;
      justify-content: space-between;
 }
}